body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#main-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./digitalclock.webp');
  background-size: cover;
  background-position: center;
  color: #00e0ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#digi {
  display: flex;
  height: 500px;
  width: 500px;
  font-size: 6em;
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  padding: 40px 30px;
  background-color: rgba(0, 0, 0, 0.6); 
}
